@using Microsoft.AspNetCore.Components.Web
@namespace SRX.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>SrgjanX | Srgjan Ristovski</title>
    <link rel="shortcut icon" href="~/Resources/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.2.0-web/css/all.css" asp-append-version="true" />
    <link href="SRX.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>*@

    <script src="_framework/blazor.server.js"></script>
</body>
</html>