@page

<div class="hi">
    Hi, I'm <span class="name">Srgjan Ristovski</span>, a .NET software developer.
</div>

<div>
    <a class="hi mx-2" href="https://github.com/SrgjanX/" target="_blank">Logo</a>
    <br/>
    <a class="hi mx-2" href="https://www.linkedin.com/in/srgjanristovski/" target="_blank">Logo</a>
    <br/>
    <a class="hi mx-2" href="mailto:csristovski@yahoo.com">Logo csristovski@yahoo.com</a>
</div>
