@page

<div class="divBorder">
    <div class="hi">
        Hi, I'm <span class="name">Srgjan Ristovski</span>,<br/>
        a .NET software developer.
    </div>

    <div>
        <i class="fa-brands fa-github faicon"></i><a class="hi mx-2" href="https://github.com/SrgjanX/" target="_blank">SrgjanX</a>
        <br/>
        <i class="fa-solid fa-envelope faicon"></i><a class="hi mx-2" href="mailto:csristovski@yahoo.com">csristovski@yahoo.com</a>
        <br/>
        <i class="fa-brands fa-linkedin faicon"></i><a class="hi mx-2" href="https://www.linkedin.com/in/srgjanristovski/" target="_blank">Srgjan Ristovski</a>
        <br/>
        <i class="fa-brands fa-skype faicon"></i><a class="hi mx-2" href="#">cs-ristovski</a>
    </div>
</div>